@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 300px) {
  .navbar {
    width: 300px;
  }
  .search {
    width: 60%;
    margin-left: 2px;
    height: 40px;
    margin-top: 10px;
  }
  .icon {
    gap: 0;
  }
  .login {
    width: 95%;
  }
  .text {
    font-size: 24px;
  }
  .desc {
    font-size: 14px;
  }
  .order {
    height: 100%;
    width: 282px;
    margin-left: 1px;
    margin-top: 10px;
    margin-right: 1px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 15px;
  }
  .order_input {
    width: 100%;
  }
  .single_product {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
  .singleProduct_img {
    width: 260px;
  }
  .text_size {
    font-size: 20px;
  }
  .add_input {
    width: 270px;
  }
  .add_btn {
    width: 270px;
  }
  .admin_singleProduct {
    display: block;
    width: 100%;
  }
  .admin_singleProduct_img {
    width: 250px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5px;
  }
  .admin_singleProduct_desc {
    width: 270px;
    margin-left: auto;
    margin-right: auto;
  }
  .admin_order_img {
    width: 270px;
  }
  .modal_width {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 4px;
    margin-right: 4px;
  }
  .hide {
    display: none;
  }
  .modal {
    width: 100%;
  }
}

@media (min-width: 600px) {
  .navbar {
    width: 600px;
  }
  .search {
    width: 60%;
    margin-left: 2px;
    height: 40px;
    margin-top: 10px;
  }
  .icon {
    font-size: 16px;
    gap: 0;
  }
  .product_cart {
    width: 250px;
  }
  .product_img {
    width: 240px;
  }
  .login {
    width: 65%;
  }
  .text {
    font-size: 30px;
  }
  .desc {
    font-size: 18px;
  }
  .order {
    height: 270px;
    width: 100%;
    margin-left: 1px;
    margin-top: 10px;
    margin-right: 1px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 15px;
  }
  .order_input {
    width: 100%;
  }
  .single_product {
    width: 100%;
    display: flex;
    margin-right: auto;
    margin-left: auto;
  }
  .singleProduct_img {
    width: 50%;
  }
  .singleProduct_desc {
    width: 50%;
  }
  .fontsize {
    font-size: 14px;
  }
  .hide {
    display: inline-block;
  }
  .admin_singleProduct_img {
    width: 250px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5px;
  }
  .admin_singleProduct_desc {
    margin-left: auto;
    margin-right: auto;
    width: 270px;
  }
  .admin_order_img {
    width: 270px;
  }
  .modal_width {
    padding: 8px;
  }
  .modal {
    width: 100%;
  }
}

@media (min-width: 1330px) {
  .navbar {
    width: auto;
  }
  .search {
    width: 35%;
    margin-left: 10px;
    height: 40px;
    margin-top: 10px;
  }
  .icon {
    font-size: 18px;
  }
  .product_cart {
    width: 300px;
  }
  .product_img {
    width: 300px;
  }
  .login {
    width: 35%;
  }
  .text {
    font-size: 40px;
  }
  .desc {
    font-size: 20px;
  }
  .order {
    height: 270px;
    width: 95%;
    margin-left: auto;
    margin-top: 10px;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 30px;
  }
  .order_input {
    width: 100%;
  }
  .single_product {
    width: 95%;
    display: flex;
    margin-right: auto;
    margin-left: auto;
  }
  .singleProduct_img {
    width: 400px;
  }
  .singleProduct_desc {
    width: 50%;
  }
  .add_admin_btn {
    font-size: 16px;
    padding: 5px;
  }
  .text_size {
    font-size: 30px;
  }
  .add_input {
    width: 300px;
  }
  .add_btn {
    width: 300px;
  }
  .for_margin {
    margin-right: 5px;
  }
  .admin_singleProduct {
    margin-top: 20px;
    display: flex;
  }
  .admin_singleProduct_img {
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5px;
  }
  .admin_singleProduct_desc {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }
  .admin_order_img {
    width: 350px;
  }
  .modal_width {
    padding: 8px;
  }
  .modal {
    width: 100%;
  }
}
